{% extends 'minBooks/base.html'  %}   
{% block title %} Books {% endblock %}
{% block content %}
<div class="container mt-5 p-3 shadow w-50 ">
    <h2 class="mb-3">Books : </h2>
    <ul class="list-group list-group-numbered w-100">
        {% for book in books %}
        <li class="list-group-item d-flex justify-content-around">
                <p>
                    {{book.name}}
                </p>
                <div>
                    <a  href="{% url   'edit_book' book.id  %}"class="text-decoration-none">
                        <button class="btn btn-warning text-light">Edit</button>
                    </a>
                    <a  href="{% url   'delete_book' book.id  %}"class="text-decoration-none">
                        <button class="btn btn-danger">Delete</button>
                </a>
                </div>   
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
